/* Common Shared Styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.section {
  margin-top: 120px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.feature-text {
  color: #534C64;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 16px;
}

button {
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 48px;
  border: 0;
}

.section-title {
  color: #0B0223;
  font-size: 3rem;
  font-weight: 700;
}

.section-title span {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-description {
  color: #534C64;
  font-size: 1.125rem;
  font-weight: 400;
}

/* Header Section styles */
/* Navbar Styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 20px;
}

.logo-text {
  color: #0B0223;
  font-size: 2.8rem;
  font-weight: 700;
}

.logo-text span {
  color: #FF42A5;
}

nav>ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  font-size: 1.125rem;
  font-weight: 500;
  margin-left: 2rem;
}

nav li a {
  text-decoration: none;
  color: #3C354F;
}

.nav-button {
  display: flex;
  align-items: center;
  padding: 18px 20px;
  border-radius: 8px;
  background-color: rgba(11, 2, 35, 0.10);
  color: #3C354F;
}

.nav-button a {
  margin-left: 20px;
}

/* Banner Section Styles */

.banner-section {
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content h4 {
  color: #0B0223;
  font-size: 3rem;
  font-weight: 600;
}

.banner-content h1 {
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}

.btn-pink {
  background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
  margin-right: 24px;
  margin-top: 24px;
}

.btn-blue {
  background: #4EC5F7;
}

.banner-img img {
  width: 100%;
}

/* Funny Videos Section Styles */
.section-content {
  text-align: center;
  margin-bottom: 48px;
}

.video-items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.video-item img {
  width: 100%;
}

.video-item p {
  color: #534C64;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 24px;
}


/*Media Query for Responsive Design.*/

/* Styles for Small Devices. */

@media screen and (max-width:576px) {

  .section {
    margin-left: 20px;
    margin-right: 20px;
  }

  nav,
  nav>ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 35px 0 0;
  }

  .banner-section {
    background-position: bottom left;
    background-size: 100%;
  }

  .banner-container {
    flex-direction: column-reverse;
    gap: 20px;
  }


  .video-items-container {
    grid-template-columns: 1fr;
    margin: 0 50px;
  }

  .video-item {
    text-align: center;
  }
}

/* Styles for Medium Devices */

@media screen and (min-width:576px) and (max-width:960px) {

  .section {
    margin-left: 20px;
    margin-right: 20px;
  }

  nav,
  nav>ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 35px 0 0;
  }

  .banner-section {
    background-position: bottom left;
    background-size: auto;
  }

  .banner-container {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .video-items-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 50px;
  }

}