/* -----------Common Shared Styles---------*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.text-primary {
  color: #FF42A5;
}

.section {
  margin-top: 120px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.feature-text {
  color: #534C64;
  font-size: 1.25rem;
  font-weight: 500;
}

button {
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 48px;
  border: 0;
  cursor: pointer;
}

.section-title {
  color: #0B0223;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.section-title span {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-description {
  color: #534C64;
  font-size: 1.125rem;
  font-weight: 400;
}

/* ============ Header Section styles ============= */
/* ----------- Navbar Styles ---------- */
nav {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 20px;
}

.logo-text {
  color: #0B0223;
  font-size: 2.8rem;
  font-weight: 700;
}

nav>ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  font-size: 1.125rem;
  font-weight: 500;
  margin-left: 2rem;
}

nav li a {
  text-decoration: none;
  color: #3C354F;
}

.nav-button {
  display: flex;
  align-items: center;
  padding: 18px 20px;
  border-radius: 8px;
  background-color: rgba(11, 2, 35, 0.10);
  color: #3C354F;
}

.nav-button a {
  margin-left: 20px;
}

/* ----------- Banner Section Styles ------------ */

.banner-section {
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content h4 {
  color: #0B0223;
  font-size: 3rem;
  font-weight: 600;
}

.banner-content h1 {
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}

.banner-feature-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.btn-pink {
  background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
  margin-right: 24px;
  margin-top: 24px;
}

.btn-blue {
  background: #4EC5F7;
}

.banner-img img {
  width: 100%;
}

/* --------- Funny Videos Section Styles -------- */
.section-content {
  text-align: center;
  margin-bottom: 48px;
}

.video-items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.video-container {
  position: relative;
  display: inline-block;
}

.video-container>img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.watch_now-text {
  color: #FF42A5;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 16px;
}

.video-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.video-container:hover {
  border-radius: 16px;
  border: 4px solid #FF42A5;
}

.video-item p {
  margin-top: 24px;
}

/* ---------- Feature Section Style ---------- */

.feature-section {
  display: flex;
  justify-content: end;
  gap: 120px;
  align-items: center;
}

.feature-section .section-content {
  text-align: right;
  max-width: 355px;
}

.feature-banner-img {
  margin-left: 100px;
}

.feature-banner-img img {
  width: 100%;
}

.feature-badge-img {
  position: relative;
  bottom: 200px;
  max-width: 250px;
}

.feature-badge-img img {
  width: 100%;
}

/* --------- Games Category Styles ------------ */

.game-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.game-category-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 16px;
  padding: 10px 10px;
  color: #0B0223;
  font-size: 1.25rem;
  font-weight: 600;
}

.game-category-item:hover {
  color: #FF42A5;
  border-radius: 50px;
  border: 1.5px solid #FF42A5;
}


/* ----------- Footer Section Styles ----------- */

footer {
  background-color: #0B0223;
  margin-top: 120px;
  padding: 120px 0;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer a {
  text-decoration: none;
}

footer .logo-text {
  color: #FFF;
}

.footer-menu,
.social-icon,
.special-link {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 66px;
}

.footer-menu a {
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 600;
}

.social-icon {
  gap: 40px;
}

.special-link a,
.copyright-text {
  color: rgba(255, 255, 255, 0.60);
  font-size: 1rem;
  font-weight: 500;
}

.copyright-text {
  margin-top: 30px;
  text-align: center;
}

/* ================== Media Query for Responsive Design. ================== */

/* -------- Styles for Small Devices. -------- */

@media screen and (max-width:600px) {

  .section {
    margin-left: 20px;
    margin-right: 20px;
  }

  nav,
  nav>ul,
  .feature-section {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 35px 0 0;
  }

  .banner-section {
    background-position: bottom left;
    background-size: 100%;
  }

  .banner-container {
    flex-direction: column-reverse;
    gap: 20px;
  }


  .video-items-container {
    grid-template-columns: 1fr;
    margin: 0 80px;
  }

  .video-item {
    text-align: center;
  }

  .feature-section .section-content {
    text-align: center;
  }

  .feature-badge-img {
    bottom: 120px;
    max-width: 150px;
  }

  .footer-menu,
  .social-icon {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  .special-link {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

/* --------- Styles for Medium Devices ------- */

@media screen and (min-width:601px) and (max-width:992px) {

  .section {
    margin-left: 20px;
    margin-right: 20px;
  }

  nav,
  nav>ul,
  .feature-section {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 35px 0 0;
  }

  .banner-section {
    background-position: bottom left;
    background-size: auto;
  }

  .banner-container {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .video-items-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 50px;
  }

  .feature-section .section-content {
    text-align: center;
  }

  .footer-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  .special-link {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

}